body
{
    margin: 0;
}

h1
{
    font-size: 50px;
}

.title
{
    text-align: center;
    margin: 50px;

}

.subtitle
{
    margin: 20px;
}

p, h2
{
    font-size: 25px;
    margin-left: 50px;
}

.small-textbox
{
    width: 350px;
}

video
{
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10vw;

    width: 60vw;
    height: auto;

}

a, a:visited 
{
    text-decoration: none;
    color: #fff;
}

/* -------------------------------------------------- */
/* SET THE BACKGROUND GRADIENTS FOR EACH TYPE OF PAGE */
/* -------------------------------------------------- */
.homepage-gradient
{

    background-image: linear-gradient(to bottom right, #ffffff,#8BA29D 90%,#18453B );
}

.project-gradient
{

    background-image: linear-gradient(to bottom right, #18453B,#8BA29D 20%,#ffffff );
}

.sub-projects-gradient
{
    background-image: linear-gradient(to bottom right, #2F584F,#071512,#2F584F );
}


/* ----------------- */
/* NAV BAR COMPONETS */
/* ----------------- */
nav
{
    position: sticky;
    top: 0;
}

.nav-container
{

    padding: 10px;
    margin: 1px;

    height: 45px;
}

.logo-circle
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #7C8483;
    
    width: 20px;
    height: 20px;

    padding: 10px;
    
    border-radius: 100%;
    transition: .5s ease;
}

.logo-circle:hover, .nav-projects:hover
{
    background-color: #5A86AD;
}

.logo_icon
{
    background-color: #ffffff;
}

.nav-background
{
    margin: 0;
    padding: 1%;

    display: flex;

    background-color: #000000;
    opacity: 70%;
}

.nav-text
{
    display: flex;

    flex-grow: 4;
}

.nav-projects
{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #808080;
    color: #D1DAD8;

    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 16px;
    transition: .5s ease;
}

.nav-projects h3
{
    margin: 3px;
    padding: 3px;
}


/* ----------- */
/* TEXT COLORS */
/* ----------- */
.white
{

    color:#ffffff;
}

.dark
{
    color: #2F2D2E;
}


/* ------ */
/* IMAGES */
/* ------ */
img
{
    border-radius: 20px;
    margin: 50px;
    margin-top: 0;

    width: 30em;
    height: auto;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

.clear-float
{
    clear: both;
}

.img-center
{
    display: block;
    margin: auto;

}

.mugshot
{
    margin: 50px;

    width: 30em;
    height: auto;

    float: left;
}

.AND-gate
{
    margin-top: 20px;
    width: 10em;
    height: auto;
}

/* -------------- */
/* PROJECT IMAGES */
/* -------------- */

.project-icons
{
    border-radius: 20px;
    margin-left: 0;

    display: block;
    width: 100%;
    height: auto;
}

.project-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item
{
    margin: 50px;
    width: 50%;
    max-width: 450px;
}

/* ------------- */
/* MOBILE SCREEN */
/* ------------- */
@media screen and (max-width: 616px) {
    /* Update NAV BAR size */
    .nav-container
    {
        height: 10vw;
    }

    .logo-circle
    {
        width: 5vw;
        height: 5vw;

        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-projects
    {
        height: 8vw;
    }

    
    /* Update the project icon size */
    .project-item
    {
        width: 80%;
        max-width: none;
    }

    .small-textbox
    {
        width: 35vw;
    }

    #hint-text
    {
        margin: 10px;
        font-size: 20px;
    }

    /* Update the video size in Fun with Roto project */
    video 
    {
        width: 75vw;
        height: auto;
    }

}