body
{
    margin: 0;
}

h1
{
    font-size: 50px;
}

.title
{
    text-align: center;
    margin: 50px;

}

.subtitle
{
    margin: 20px;
}

p, h2
{
    font-size: 25px;
    margin-left: 50px;
}

.small-textbox
{
    width: 350px;
}

video
{
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10vw;

}

/* -------------------------------------------------- */
/* SET THE BACKGROUND GRADIENTS FOR EACH TYPE OF PAGE */
/* -------------------------------------------------- */
.homepage-gradient
{

    background-image: linear-gradient(to bottom right, #ffffff,#8BA29D 90%,#18453B );
}

.project-gradient
{

    background-image: linear-gradient(to bottom right, #18453B,#8BA29D 20%,#ffffff );
}

.sub-projects-gradient
{
    background-image: linear-gradient(to bottom right, #18453B,#8BA29D,#18453B );
}


/* ----------------- */
/* NAV BAR COMPONETS */
/* ----------------- */
nav
{
    position: sticky;
    top: 0;
}

.nav-container
{
    padding: 10px;
    margin: 1px;

    height: 3vw;
}

.logo-circle
{
    background-color: #7C8483;
    
    width: 20px;
    height: 20px;

    padding: 10px;
    
    border-radius: 100%;
}

.logo_icon
{
    background-color: #ffffff;
}

.nav-background
{
    margin: 0;
    padding: 1%;

    display: flex;

    background-color: #000000;
    opacity: 70%;
}

.nav-text
{
    flex-grow: 4;

}

.nav-projects
{
    background-color: #808080;
    color: #D1DAD8;

    text-align: center;

    height: 30px;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 16px;
}

.nav-projects h3
{
    margin: 3px;
    padding: 3px;
}


/* ----------- */
/* TEXT COLORS */
/* ----------- */
.white
{

    color:#ffffff;
}

.dark
{
    color: #2F2D2E;
}


/* ------ */
/* IMAGES */
/* ------ */
img
{
    border-radius: 20px;
    margin: 50px;
    margin-top: 0;

    width: 30em;
    height: auto;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

.clear-float
{
    clear: both;
}

.img-center
{
    display: block;
    margin: auto;

}

.mugshot
{
    margin: 50px;

    width: 30em;
    height: auto;

    float: left;
}

.AND-gate
{
    margin-top: 20px;
    width: 10em;
    height: auto;
}

/* -------------- */
/* PROJECT IMAGES */
/* -------------- */

.project-icons
{
    border-radius: 20px;
    margin-left: 0;

    display: block;
    width: 100%;
    height: auto;
}

.project-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item
{
    margin: 50px;
    width: 50%;
    max-width: 450px;
}

